/* Navbar, Navlinks, etc. */
@media only screen and (max-width: 800px) {
  .navigation {
    display: flex;
    color: white;
    background-image: linear-gradient(-0.125turn, darkblue, indigo 50%);
    box-shadow: 0px 10px 10px black;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
    padding: 0.25em 1.5em;
    align-items: center;
    justify-content: space-between;
    min-height: 4em;
  }

  button.mobile-menu-button {
    color: white;
    display: block;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0.5em;
    font-size: 1.25em;
    padding: 0.5em;
  }

  div.mobile-nav-backdrop {
    z-index: 1;
    position: fixed;
    top: 0%;
    height: 100vh;
    width: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
  }

  nav.mobile-nav-menu {
    position: fixed;
    display: flex;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 15vh;
    left: 10vw;
    width: 80vw;
    height: 70vh;
    background-image: linear-gradient(-0.125turn, darkblue 20%, indigo 60%);
    border-radius: 2em;
  }

  div.mobile-nav-content-wrapper {
    padding: 1em;
  }

  h3.mobile-nav-menu-header {
    font-size: 2.25em;
    font-weight: bold;
    color: white;
    margin-top: -0.125em;
    margin-bottom: -0.25em;
  }

  ul.mobile-nav-list {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 3em;
  }

  li.nav-item {
    text-align: center;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
  }

  li.last-nav-item {
    text-align: center;
    font-size: 1.5em;
    margin-top: 1em;
    color: white;
  }

  span.desktop-extended-brand {
    display: none;
  }
  ul.desktop-nav-list {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  .navigation {
    display: flex;
    justify-content: space-between;
    color: white;
    background-image: linear-gradient(-0.125turn, darkblue, indigo 70%);
    box-shadow: 0px 15px 20px black;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
    padding-left: 2em;
    padding-right: 2em;
    align-items: center;
    min-height: 4em;
  }

  .navigation-container {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  li.nav-item {
    display: flex;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 4em;
    font-size: 1.25em;
    color: rgba(255, 255, 255, 0.7);
  }

  li.nav-item:hover {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      transparent,
      transparent,
      transparent,
      white
    );

    color: rgba(255, 255, 255, 0.95);
  }

  ul.desktop-nav-list {
    margin: 0;
    padding-left: 2em;
    display: flex;
  }

  .mobile-menu-button {
    display: none;
  }

  .mobile-nav-menu {
    display: none;
  }

  .mobile-nav-backdrop {
    display: none;
  }
}

.nav-brand {
  color: rgba(255, 255, 255, 0.85);
  font-weight: bold;
  font-size: 1.75em;
  margin: 0;
}
.nav-brand:hover {
  color: rgba(255, 255, 255, 0.95);
}
